.main {
  flex: 1;
  padding: 1.3em 3em;

  &__btn {
    padding: 0.7em 1em;
    font-size: 1.3rem;
    background-color: rgb(86, 86, 237);
    color: white;
    font-weight: 700;
    margin-bottom: 2em;
    margin-left: 50%;
    transform: translateX(-50%);

    span {
      margin-right: 8px;
    }

    &:hover {
      background-color: white;
      color: rgb(86, 86, 237);
    }
  }
}
